extends layout/default.pug

block styles
  link(rel="stylesheet", href="./css/widget.css")

block meta
  title Widget

block content
  div(class="widget")
    img(src="./assets/wae-logo+background.png", alt="")
    div(class="text", id="text")

block scripts
  script(type="module", src="./js/widget.ts")
