body {
    background: url('../assets/background.svg') center / cover;
    padding-inline: 3.5vw;
    padding-block: 3.5vh;
}

.logo {
    width: 35vw;
    /* transform: translateX(-3%) translateY(-12.5%); */
    transform: translateX(-5%) translateY(-12.5%);
}

table td:nth-child(odd) {
    @apply text-primary pr-4 text-end;
}